body{
	background-image: url("../images/pngtree-blue-tech-starry-sky-map-cool-background-windscience-and-technologybusiness-image_68147.jpg");
	text-align: center;
}

.text-muted{
	color: white;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}